<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="bg-white rounded shadow-7 mw-100 p-6 d-flex justify-content-center">
    <div class="w-400">
      <h5 class="mb-5">Create an account</h5>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Your name', autocomplete: 'name' %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email address', autocomplete: 'email' %>
      </div>

      <div class="form-group">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: 'New password' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', placeholder: 'Password (confirm)' %>
      </div>

      <div class="form-group">
        <%= f.collection_select :timezone, ActiveSupport::TimeZone.all, :name, :to_s, { include_blank: 'Time Zone'} , {class: 'form-control' } %>
      </div>
      
      <div class="form-group">
         <%= f.submit "Sign up", class: 'btn btn-block btn-primary' %>
      </div>
      <hr class="w-30">
      <p class="text-center text-muted small-2">Already a member? <%= link_to "Log in", new_session_path(resource_name) %></p>
    </div>
  </div>
<% end %>
